@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */
:root {
    --background-color: #f6f7fb;
    --dark-one: #333;
}


/*Global styles*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
} 

.container {
    max-width: 92rem;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding: 0 4rem;
    background-color: var(--background-color);
}

.grid-2 {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
/*End Global styles*/


/*HEADER*/
header {
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

/*Navbar*/
nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

/*Navbar links*/
.links ul {
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

.links a:hover {
    color: aqua;
}

/*Intro grid*/
.header-content .container.grid-2 {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}


/*END HEADER*/
