@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}


.home-intro {
    height: 100vh;
    background-color: royalblue;
}


.about-me {
    height: 100vh;
    background-color: yellowgreen;
}

.about-text {
    padding-left: 100px;
    padding-right: 100px;
}

.projects {
    height: 100vh;
    background-color: pink;
}


.about-text {
    margin-top: 10%;
    margin-bottom: 50px;
}